{% extends ':crm:layout.html.twig' %}

    {% block header %}
          <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <ul class="nav top-menu">
          <li class="titre-affichage"><span class="text-center">Affichage :</span></li>

          <li class="dropdown">
            <a class="list-entreprise" title="FICHE">
              <i class="fa fa-file-text-o"></i>
               FICHE
              </a>
          </li>
          <li class="dropdown">
            <a class="list-entreprise" title="LISTE">
               <i class="fa fa-list-ul"></i>
             LISTE
              </a>
          </li>
        </ul>
      </div> 
            <div class="top-menu fiche_btn">
        <ul class="nav pull-left top-menu">
          <li><a href="#" class="bouton btn-precedent" title="FICHE PRECEDENTE"><i class="fa fa-backward"></i>FICHE PRECEDENTE</a></li>
          <li><a href="#" class="bouton btn-suivant" title="FICHE SUIVANTE">FICHE SUIVANTE<i class="fa fa-forward"></i></a></li>
        </ul>
      </div>

 {% endblock %}

    {% block body %}
        <h1>Hello World!</h1>
    {% endblock %}
